name: Resume builder
on:
    push:
        branches:
            - master
    pull_request:
    release:
        types:
            - created

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  fetch-depth: 0
            - name: Build the Docker image
              run: docker build -t pdftex:latest - < Dockerfile
            - name: Build the resume
              run: docker run -v $(pwd):$(pwd) -w $(pwd) pdftex:latest pdftex -fmt=pdflatex ./Resume.tex
            - name: Rename the Resume to include the current date
              run: |
                  export RESUME_NAME=Resume-$(date -d $(git log -1 --pretty="format:%cI" Resume.tex) "+%Y-%m-%d").pdf
                  mv Resume.pdf $RESUME_NAME
                  echo "::set-env name=RESUME_NAME::${RESUME_NAME}"
            - name: Upload artifacts
              uses: actions/upload-artifact@master
              with:
                  name: Resume
                  path: ${{ env.RESUME_NAME }}
    release:
        runs-on: ubuntu-latest
        if: github.event_name == 'release'
        needs: build
        name: Publish the resume
        steps:
            - name: Download the Resume artifact
              uses: actions/download-artifact@v1
              with:
                  name: Resume
            - name:
              run: |
                  export RESUME_NAME=$(ls Resume*.pdf)
                  echo "::set-env name=RESUME_NAME::${RESUME_NAME}"
            - name: Upload the resume to the Github release
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ github.event.release.upload_url }}
                  asset_path: ${{ env.RESUME_NAME }}
                  asset_name: ${{ env.RESUME_NAME }}
                  asset_content_type: application/pdf
